name: Build and Release

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        arch: [x64, arm64]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Install WiX Toolset
        run: dotnet tool install --global wix

      - name: Build and Package
        run: .\build.ps1 -Arch ${{ matrix.arch }}

      - name: Rename MSI
        run: |
          mv installer/bin/${{ matrix.arch }}/Release/IPCTInstaller.msi installer/bin/${{ matrix.arch }}/Release/IPCT-${{ matrix.arch }}.msi

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: msi-${{ matrix.arch }}
          path: installer/bin/${{ matrix.arch }}/Release/IPCT-${{ matrix.arch }}.msi

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download x64 Artifact
        uses: actions/download-artifact@v4
        with:
          name: msi-x64
          path: release_files

      - name: Download arm64 Artifact
        uses: actions/download-artifact@v4
        with:
          name: msi-arm64
          path: release_files

      - name: Publish Build Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: build-${{ github.run_number }}
          name: Build ${{ github.run_number }}
          files: release_files/*.msi