<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="IPCT" Manufacturer="jjgroenendijk.nl" Version="1.0.0.0" UpgradeCode="12345678-1234-1234-1234-123456789012" InstallerVersion="500">
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <!-- Icon for Add/Remove Programs -->
    <Icon Id="IPCT.ico" SourceFile="$(var.UISourceDir)\Resources\IPCT.ico" />
    <Property Id="ARPPRODUCTICON" Value="IPCT.ico" />

    <Feature Id="ProductFeature" Title="IPCT" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="IPCT">
        <Directory Id="ResourcesFolder" Name="Resources" />
      </Directory>
    </StandardDirectory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ServiceComponent" Guid="87654321-4321-4321-4321-210987654321" Bitness="always64">
        <File Id="ServiceExe" Source="$(var.ServiceSourceDir)\IpChanger.Service.exe" KeyPath="yes" />
        <ServiceInstall Id="ServiceInstaller"
                        Type="ownProcess"
                        Name="IpChangerService"
                        DisplayName="IPCT Service"
                        Description="Helper service for changing IP addresses without admin rights."
                        Start="auto"
                        Account="LocalSystem"
                        ErrorControl="normal" />
        <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="IpChangerService" Wait="yes" />
      </Component>

      <Component Id="UIComponent" Guid="12345678-1234-1234-1234-1234567890AB" Bitness="always64">
        <File Id="UIExe" Source="$(var.UISourceDir)\IpChanger.UI.exe" KeyPath="yes" />
        <Shortcut Id="ApplicationStartMenuShortcut" 
                  Directory="ProgramMenuFolder"
                  Name="IPCT" 
                  WorkingDirectory="INSTALLFOLDER" 
                  Icon="IPCT.ico"
                  Advertise="yes" />
      </Component>

      <Component Id="IconComponent" Guid="A1B2C3D4-E5F6-7890-ABCD-EF1234567890" Bitness="always64" Directory="ResourcesFolder">
        <File Id="IconFile" Source="$(var.UISourceDir)\Resources\IPCT.ico" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Package>
</Wix>
